<div id="first" name="first" #first  >
<i id="firsticon" class="fa fa-trash fa-3x" aria-hidden="true"  *ngIf="firstdelete"  (click)="deleteclick('first')"></i>
</div>
<div id="second"  name="second" #second >
    <i id="firsticon" class="fa fa-trash fa-3x" aria-hidden="true"  *ngIf="seconddelete"  (click)="deleteclick('second')"></i>
</div>
<div id="third" name="third" #third >
    <i id="firsticon" class="fa fa-trash fa-3x" aria-hidden="true"  *ngIf="thirddelete"  (click)="deleteclick('third')"></i>
</div>
<div id="fourth" name="fourth" #fourth >
    <i id="firsticon" class="fa fa-trash fa-3x" aria-hidden="true"  *ngIf="fourthdelete"  (click)="deleteclick('fourth')"></i>
</div>
<div id="fifth" name="fifth" #fifth >
    <i id="firsticon" class="fa fa-trash fa-3x" aria-hidden="true"  *ngIf="fifthdelete"  (click)="deleteclick('fifth')"></i>
</div>
<div id="sixth" name="sixth" #sixth >
    <i id="firsticon" class="fa fa-trash fa-3x" aria-hidden="true"  *ngIf="sixdelete"  (click)="deleteclick('sixth')"></i>
</div>



