div{
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 50px;
}
#first{
background-color: coral;
}

#second{
    background-color:red;
}

#third{
    background-color:gold;
}
#fourth{
    background-color:blueviolet;
}
#fifth{
    background-color:dodgerblue
}
#sixth{
    background-color:gray;
}

.firstwelcome{
    background-image: url('../assets/AWS.jpg') !important;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;   
}
.secondwelcome{
    background-image: url('../assets/inputoutput.jpg') !important;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;   
}
.thirdwelcome{
    background-image: url('../assets/github.png') !important;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;   
}
.fourthwelcome{
    background-image: url('../assets/angular.png') !important;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;   
}
.fifthwelcome{
    background-image: url('../assets/bootstrap.png') !important;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;   
}
.sixthwelcome{
    background-image: url('../assets/Freckle.png') !important;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;   
}